.gradle/
build/
**/build/
local.properties
.env
*.jks
*.keystore
.gradle
/build
/app/build
/app/release
!gradle/wrapper/gradle-wrapper.jar
*.iml
.idea
.DS_Store
/bahan.zip
/ss.zip
/log*.zip
/logs.zip
google-services.json
# proxy
proxy/node_modules/
proxy/dist/
